.certificates__ {
  &item {
    display: grid;
    gap: 0.5rem;
  }
  &grid {
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
    text-align: center;
  }
  &paper {
    padding: 1rem;
  }
  &subtitle {
    font-size: var(--smaller-font-size);
  }
  &certificateby {
    font-size: var(--normal-font-size);
    font-weight: bold;
  }
}
