@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Default Css ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus, textarea:focus, select:focus {
  outline: none;
}
.banner {
  background-image: url("./assets/img/webp/cosmic.webp");
}

.box {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  box-shadow: 0 0 5px 3px #222121;
}

.box::before {
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border: 1px solid #353535;
}

.dots {
  transition: 5s transform, 5s opacity ease;
}

.dots::after {
  box-shadow: 0 0 5px 2px #585858;
  transform: translateX(-50%);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}
